<!DOCTYPE html>
<html lang="en">
<head>
 <% include ../includes/head %>
</head>
<body>
  <% include ../includes/menu %>

  
<div class="container" style="margin-top: 90px;">
  
    <div class="col-md-12 col-lg-12 order-md-1 offset-md-2">
        <h4 class="mb-3">Adicionar usuário</h4>
        <form method="POST" action="/usuario/create" class="needs-validation">
          
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name" name="user[name]" placeholder="Nome" required>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="login">Login</label>
                <input type="text" class="form-control" id="login" name="user[login]" placeholder="Login" required>
              </div>
            </div>
  
            <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="user[password]" placeholder="Password" required>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">Salvar</button>
                </div>
            </div>
    
        </form>
    </div>

</div>

</body>
<% include ../includes/scripts %> 
</html>